---
:global:
  python_target_version: "3.12"
  python_min_version: "3.11"
  python_supported_versions: ["3.11", "3.12", "3.13"]
  module_rootname: ""
  module_description: ""
  module_keywords: [""]
  dependencies: [""]
  max_line_length: 120
  changelog_since_tag: ""
  # see https://github.com/astral-sh/ruff/releases
  # renovate: datasource=github-releases depName=astral-sh/ruff
  ruff_version: "0.14.10"

.devcontainer/devcontainer.json:
  run_services: ["app"]
  # see https://github.com/astral-sh/ruff-vscode/releases
  # renovate: datasource=github-releases depName=astral-sh/ruff-vscode
  vscode_ruff: "2025.32.0"

compose.yaml:
  compose_command: "test"
  require_postgres: false

Dockerfile:
  # see https://github.com/astral-sh/uv/releases
  # renovate: datasource=github-releases depName=astral-sh/uv
  uv_version: "0.9.17"

.github/dependabot.yml:
  delete: true
